@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(216, 213, 208);
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 30, 31);
}

.title {
    font-family: 'Koulen', cursive;
    font-size: 50px;
}

.content {
    background-color: rgb(117, 107, 93);
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.content>.player-btn,
.computer-btn {
    display: flex;
    flex-direction: column;
    gap: 110px;
    margin-left: 140px;
    margin-right: 140px;
}

.btn-player, .btn-computer {
    height: 70px;
    width: 70px;
    background-color: #3b3b3b;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    cursor: pointer;
    font-size: 36px;
    outline: none;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.btn-player:disabled, .btn-computer:disabled {
    pointer-events: none;
}

.btn-player:hover, .btn-computer:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-player:active, .btn-computer:active {
    box-shadow: none;
    transform: translateY(0);
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    font-family: 'Koulen', cursive;
    font-size: 200px;
    color: rgb(216, 213, 208);
}

.score div:nth-child(2) {
    margin-left: 80px;
    margin-right: 80px;
}
/*
.player-score {
    position: absolute;
}

.computer-score {
    position: absolute;
}
*/
.game-round {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-number {
    color: rgb(216, 213, 208);
    font-family: 'Koulen', cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-score {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: rgb(216, 216, 216);
}

#roundNumber {
    margin-left: 10px;
}